{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_styles %}
{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}

<section class="h-screen bg-cover"
	style="background-image: url('https://images.unsplash.com/photo-1619364726002-dfd4fdaee5f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
	<div class="flex h-full w-full items-center justify-center container mx-auto px-8">
		<div class="max-w-2xl text-center">
			<h1 class=" sm:text-5xl capitalize tracking-widest text-white text-display-1"><span
					class="text-primary-pure -ml-10">.</span>Em Breve </h1>
			<div class="mt-8 flex flex-col space-y-3 sm:-mx-2 sm:flex-row sm:justify-center sm:space-y-0">
				<a href="/admin" class="Button justify-center mt-32 text-paragraph" size="lg" js-ripple>Login</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block extra_js %}
{% endblock %}