{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load ndt_vite_tags %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Redefinição de senha enviada
{% endblock %}

{% block content %}
<div class="flex h-screen place-items-center">
	<div class="m-auto w-[468px] rounded-md bg-white p-8 shadow-md md:w-full md:max-w-[468px] md:p-6">
		<h2 class="titulo mb-2">E-mail enviado!</h2>
		<p class="text-[rgb(var(--neutral-70))]">
			Sua senha foi redefinida com sucesso! Verifique seu e-mail e faça seu login.
		</p>

		<a href="{% url 'login' %}" class="Button mt-10">
			<ion-icon name="arrow-back"></ion-icon>
			Voltar ao login
		</a>
	</div>
</div>
{% endblock %}


<form method="post" action="{% url 'password_reset' %}" id="login" class="min-h-screen">
	{% csrf_token %}
	<div class="flex h-full flex-col justify-center p-[3.75rem] md:p-0 md:pb-64">
		<div
			class="orn-sections bg-primary-pure relative z-[-1] flex h-[24.625rem] justify-center rounded-[190px] md:max-w-full md:rounded-none md:rounded-b-2xl">
			<div class="logo-cliente absolute top-72">
				<img class="mx-auto h-32 md:h-24" src="{% static 'images/logo_brand.webp' %}" alt="">
			</div>
			<!-- <picture>
				<source srcset="{% static 'front_assets/src/assets/images/' %}ornamento-mobile.webp" media="(max-width: 600px)">
				<img src="{% static 'front_assets/src/assets/images/' %}ornamento-desktop.webp" alt="">
			</picture> -->
		</div>

		<!--login-->
		<div
			class="Card form-wrapper sm:mx-24 mx-auto -mt-[7.1875rem] w-fit max-w-[428px] rounded-lg border bg-white px-24 py-32">
			<div class="content flex flex-col gap-8">
				<h2 class="text-title-4">E-mail enviado!</h2>
				<p class="description text-neutral-70">
					Sua senha foi redefinida com sucesso! Verifique seu e-mail e faça seu login.
				</p>
			</div>

			<footer class="mt-40">
				<a href="{% url 'login' %}" class="Button secondary text-headline-2 w-full justify-center !rounded-3xl"
					size="lg">
					<ion-icon name="arrow-back"></ion-icon>
					Voltar ao login
				</a>
			</footer>
		</div>

		<footer class="mt-auto">
			<img class="mx-auto h-32" src="{% static 'images/logo_ndt_light.png' %}" alt="">
		</footer>
	</div>
</form>