{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load django_vite %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Redefinição de senha enviada
{% endblock %}

{% block content %}
<form method="post" action="{% url 'password_reset' %}" id="login" class="min-h-screen">
	{% csrf_token %}
	<div class="flex flex-col justify-center h-full p-[3.75rem] md:p-0 md:pb-64">
		<div
			class="orn-sections relative z-[-1] flex justify-center h-[24.625rem] rounded-[190px] bg-primary-pure md:max-w-full md:rounded-b-2xl md:rounded-none">
			<div class="logo-cliente absolute top-72">
				<img class="h-32 mx-auto md:h-24" src="{% vite_asset_url 'img/logo_brand.webp' %}" alt="">
			</div>
			<!-- <picture>
				<source srcset="{% static 'front_assets/src/assets/img/' %}ornamento-mobile.webp" media="(max-width: 600px)">
				<img src="{% static 'front_assets/src/assets/img/' %}ornamento-desktop.webp" alt="">
			</picture> -->
		</div>

		<!--login-->
		<div
			class="Card py-32 px-24 rounded-lg form-wrapper w-fit -mt-[7.1875rem] border mx-auto max-w-[428px] bg-white sm:mx-24">
			<div class="content flex flex-col gap-8">
				<h2 class="text-title-4">E-mail enviado!</h2>
				<p class="description text-neutral-70">
					Sua senha foi redefinida com sucesso! Verifique seu e-mail e faça seu login.
				</p>
			</div>

			<div class="btn-wrapper mt-40">
				<a href="{% url 'login' %}" class="Button secondary w-full text-headline-2 !rounded-3xl" size="lg">
					Voltar ao login
				</a>
			</div>
		</div>

		<div class="logo-ndt mt-auto">
			<img class="h-32 mx-auto" src="{% vite_asset_url 'img/logo_ndt_light.png' %}" alt="">
		</div>
	</div>
</form>

{% endblock %}