{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load ndt_vite_tags %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Recuperar senha
{% endblock %}

{% block content %}

<div class="grid min-h-screen grid-cols-[50vw_auto] md:flex">

	<picture class="relative w-[50vw] bg-[rgb(var(--primary-pure))] md:hidden">
		<img class="z-2 absolute inset-0 m-auto size-[250px] object-contain"
			src="{% static 'images/logos/logo_generic.webp' %}" data-aos="fade" data-aos-delay="200">
		<img class="absolute z-[1] m-auto size-full object-contain" src="{% static 'images/login/blur.webp' %}"
			data-aos="fade">
	</picture>

	<section class="flex bg-[#f5f5f5] py-6 md:w-full md:px-2">
		<form method="post" action="{% url 'password_reset' %}"
			class="m-auto w-[468px] rounded-md bg-white p-8 shadow-md md:w-full md:max-w-[468px] md:p-6">
			{% csrf_token %}

			<h2 class="titulo mb-1">Esqueci minha senha</h2>
			<p class="mb-6 text-[rgb(var(--neutral-70))]">
				Preencha o campo abaixo que enviaremos uma nova senha em seu e-mail.
			</p>

			<div class="">
				<div class="Input mb-6">
					{{form.email|add_class:'input w-full'|attr:'placeholder:E-mail'|attr:'js-ativo'}}
				</div>

				{{form.errors|json_script:"js-error"}}

			</div>

			<div class="mt-3">


				<button class="Button">
					Redefinir minha senha
				</button>
				<a class="Button mt-2 !bg-white !text-[rgb(var(--neutral-100))]" href="{% url 'login' %}">
					<ion-icon name="arrow-back"></ion-icon>
					Voltar
				</a>
			</div>

		</form>
	</section>
</div>
{% endblock %}




<form method="post" action="{% url 'password_reset' %}" id="login" class="min-h-screen">
	{% csrf_token %}
	<div class="flex flex-col justify-center p-[3.75rem] md:p-0 md:pb-64">
		<div
			class="bg-primary-pure relative z-[-1] flex h-[24.625rem] justify-center rounded-[190px] md:max-w-full md:rounded-none md:rounded-b-2xl">
			<div class="absolute top-72">
				<img class="mx-auto h-32 md:h-24" src="{% static 'images/logo_brand.webp' %}" alt="">
			</div>
			<!-- <picture>
				<source srcset="{% static 'front_assets/src/assets/images/' %}ornamento-mobile.webp" media="(max-width: 600px)">
				<img src="{% static 'front_assets/src/assets/images/' %}ornamento-desktop.webp" alt="">
			</picture> -->
		</div>

		<!--login-->
		<div
			class="Card form-wrapper sm:mx-24 mx-auto -mt-[12.9375rem] w-fit max-w-[450px] rounded-lg border bg-white px-24 py-32">
			<div class="content flex flex-col gap-8">
				<h2 class="text-title-4">Esqueci minha senha</h2>
				<p class="text-neutral-70">
					Preencha o campo abaixo que enviaremos uma nova senha em seu e-mail.
				</p>
			</div>

			<div class="mx-auto mt-32">
				<div class="border-neutral-30 border-b px-8 py-16">
					{{form.email|add_class:'input w-full'|attr:'placeholder:E-mail'|attr:'js-ativo'}}
				</div>

				{{form.errors|json_script:"form-errors-reset"}}

			</div>

			<div class="mt-40 flex gap-16 md:flex-col-reverse">

				<a class="Button h-48 shrink-0 !rounded-3xl" size="lg" secondary href="{% url 'login' %}">
					<ion-icon name="arrow-back"></ion-icon>
					Voltar
				</a>
				<button class="Button flex-1 shrink-0 justify-center !rounded-3xl md:flex-initial" size="lg">
					Redefinir minha senha
				</button>
			</div>
		</div>

		<div class="logo-ndt mt-auto">
			<img class="mx-auto h-32" src="{% static 'images/logo_ndt_light.png' %}" alt="">
		</div>
	</div>

</form>