{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load ndt_vite_tags_tags %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Recuperar senha
{% endblock %}

{% block content %}
<form method="post" action="{% url 'password_reset' %}" id="login" class="min-h-screen">
	{% csrf_token %}
	<div class="flex flex-col justify-center p-[3.75rem] md:p-0 md:pb-64">
		<div
			class=" relative z-[-1] flex justify-center h-[24.625rem] rounded-[190px] bg-primary-pure md:max-w-full md:rounded-b-2xl md:rounded-none">
			<div class="absolute top-72">
				<img class="h-32 mx-auto md:h-24" src="{% static 'img/logo_brand.webp' %}" alt="">
			</div>
			<!-- <picture>
				<source srcset="{% static 'front_assets/src/assets/img/' %}ornamento-mobile.webp" media="(max-width: 600px)">
				<img src="{% static 'front_assets/src/assets/img/' %}ornamento-desktop.webp" alt="">
			</picture> -->
		</div>

		<!--login-->
		<div
			class="Card py-32 px-24 rounded-lg form-wrapper w-fit -mt-[12.9375rem] border mx-auto max-w-[450px] bg-white sm:mx-24">
			<div class="content flex flex-col gap-8">
				<h2 class="text-title-4">Esqueci minha senha</h2>
				<p class="text-neutral-70">
					Preencha o campo abaixo que enviaremos uma nova senha em seu e-mail.
				</p>
			</div>

			<div class="mt-32 mx-auto">
				<div class="border-b border-neutral-30 px-8 py-16">
					{{form.email|add_class:'input w-full'|attr:'placeholder:E-mail'|attr:'js-ativo'}}
				</div>

				{{form.errors|json_script:"form-errors-reset"}}

			</div>

			<div class="flex gap-16 mt-40 md:flex-col-reverse">

				<a class="Button !rounded-3xl shrink-0 h-48" size="lg" secondary href="{% url 'login' %}">
					<ion-icon name="arrow-back"></ion-icon>
					Voltar
				</a>
				<button class="Button !rounded-3xl shrink-0 flex-1 md:flex-initial justify-center" size="lg">
					Redefinir minha senha
				</button>
			</div>
		</div>

		<div class="logo-ndt mt-auto">
			<img class="h-32 mx-auto" src="{% static 'img/logo_ndt_light.png' %}" alt="">
		</div>
	</div>

</form>
{% endblock %}