{% load static %}

<section id="about_us" class="p-[10.75rem_0_5.25rem_0]">
	<div class="relative w-full h-auto bg-[linear-gradient(180deg,rgba(217,217,217,0.06)0%,rgba(217,217,217,0.02)100%)]">
		<div class="container">
			<div class="grid grid-cols-2 gap-[9.75rem]">

				<div>
					<!-- Grupo de bolinha -->
					<div class="flex items-center gap-[.5rem]">
						<span class="inline-block h-[.5rem] w-[.5rem] bg-primary-pure rounded-[50%]"></span>
						<span class="inline-block h-[.5rem] w-[.5rem] bg-[transparent] rounded-[50%] border-[1px] border-primary-pure box-border"></span>
						<span class="inline-block h-[.5rem] w-[.5rem] bg-primary-pure rounded-[50%]"></span>
					</div>

					<!-- Título Seção -->
					<h2 class="text-title-1 text-neutral-100 mt-[.5rem]">
						Sobre Nós
					</h2>

					<div class="mt-[1.5rem] text-paragraph-1 text-neutral-60 flex flex-col gap-[2rem]">
						<p>
							Desenvolvemos estratégias de inteligência, soluções e conteúdos diferenciados, a fim de aproximar seus clientes da grande mídia, além de atuar como marketing de influência, conectando influenciadores e criadores de conteúdo às marcas.
						</p>

						<p>
							A agência tem como objetivo auxiliar na construção, valorização e preservação da imagem das marcas. Busca gerar resultados integrados aos objetivos dos clientes e agregar valor aos seus negócios.
						</p>
					</div>
				</div>


				<div>


					<div class="flex gap-[1.5rem] w-full h-[12.5rem] relative">
						
						<div class="
							relative
							z-[1] hover:z-[3]
							w-[17.75rem]
							h-full
							shrink-0
							bg-[#FAE6C8]
							overflow-hidden
							rounded-[.5rem]

							transition-all duration-[.3s] ease-in
							
							hover:scale-[1.2]
							hover:shadow-[0px_24px_32px_0px_rgba(16,16,18,0.25)]"
						>
							<span class="inline-block flex h-[6.563rem] w-[6.563rem] rounded-[50%] justify-center items-center bg-[rgba(255,157,2,0.60)] absolute left-[0.531rem] top-[-0.625rem]">
								<span class="inline-block text-[rgba(0,0,0,0.70)] text-[0.875rem] font-lato font-bold">Inovação</span>
							</span>


							<span class="inline-block flex h-[6.625rem] w-[6.625rem] rounded-[50%] justify-center items-center bg-[rgba(43,163,237,0.60)] absolute left-[-0.625rem] bottom-[-0.375rem]">
								<span class="inline-block text-[rgba(0,0,0,0.70)] text-[0.875rem] font-lato font-bold">Objetivo</span>
							</span>

							<span class="inline-block flex h-[11.438rem] w-[11.438rem] rounded-[50%] justify-center items-center bg-[rgba(255,116,60,0.60)] absolute right-[-0.438rem] bottom-[-0.688rem]">
								<span class="inline-block text-[rgba(0,0,0,0.70)] text-[0.875rem] font-lato font-bold">Objetivo</span>
							</span>
						</div>

						<figure class="
							relative
							h-full
							min-w-[19.5rem]
							overflow-hidden
							rounded-[1rem]
							transition-all
							duration-[.3s]
							ease-in
							hover:scale-[1.2]
							hover:shadow-[0px_24px_32px_0px_rgba(16,16,18,0.25)]
							z-[1] hover:z-[3]"
						>
							<img class="h-full w-full object-center object-cover" src="{% static 'img/about_us/ornament-3.webp' %}" alt="" />
						</figure>
					</div>


					<div class="flex gap-[1.5rem] w-full h-[12.5rem] mt-[1.5rem] relative">

						<div class="h-full w-[7.5rem] bg-[#2BA3ED] rounded-[0.375rem] overflow-hidden">
							<figure>
								<img src="img/about_us/ornament-5.webp" alt="" />
							</figure>
						</div>
						<figure>
							<img src="{% static 'img/about_us/ornament-1.webp' %}" alt="" />
						</figure>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>