{% load static %}

<section id="about_us" class="p-[0_0_5.25rem_0]">
	<div class="relative w-full pt-[10.75rem] h-auto bg-[linear-gradient(180deg,rgba(217,217,217,0.06)0%,rgba(217,217,217,0.02)100%)]">
		<div class="container">
			<div class="grid md:flex md:justify-between grid-cols-2 md2:flex-col gap-[9.75rem] md:gap-[3.188rem]">

				<div>
					<!-- Grupo de bolinha -->
					<div class="flex items-center gap-[.5rem]">
						<span class="inline-block h-[.5rem] w-[.5rem] bg-primary-pure rounded-[50%]"></span>
						<span class="inline-block h-[.5rem] w-[.5rem] bg-[transparent] rounded-[50%] border-[1px] border-primary-pure box-border"></span>
						<span class="inline-block h-[.5rem] w-[.5rem] bg-primary-pure rounded-[50%]"></span>
					</div>

					<!-- Título Seção -->
					<h2 class="text-title-1 md2:!text-[3rem] text-neutral-100 mt-[.5rem]">
						Sobre Nós
					</h2>

					<div class="mt-[1.5rem] text-paragraph-1 md2:text-[1.125rem] text-neutral-60 flex flex-col gap-[2rem] md2:gap-[1rem]">
						<p>
							Desenvolvemos estratégias de inteligência, soluções e conteúdos diferenciados, a fim de aproximar seus clientes da grande mídia, além de atuar como marketing de influência, conectando influenciadores e criadores de conteúdo às marcas.
						</p>

						<p>
							A agência tem como objetivo auxiliar na construção, valorização e preservação da imagem das marcas. Busca gerar resultados integrados aos objetivos dos clientes e agregar valor aos seus negócios.
						</p>
					</div>
				</div>


				<div>

					
					<div class="flex sm:flex-wrap gap-[1.5rem] md:gap-[1rem] w-full h-[12.5rem] md:h-[7.5rem] sm:h-auto relative">
						
						<!-- Card 1 -->
						<div class="
							relative
							z-[1] hover:z-[3]
							w-[17.75rem] md:w-[10.5rem]
							h-full sm:h-[7.5rem]
							shrink-0
							bg-[#FAE6C8]
							overflow-hidden
							rounded-[.5rem]

							transition-all duration-[.3s] ease-in
							
							hover:scale-[1.2]
							hover:shadow-[0px_24px_32px_0px_rgba(16,16,18,0.25)]"
						>
							<span class="inline-block flex h-[6.563rem] md:h-[4rem] w-[6.563rem] md:w-[4rem] rounded-[50%] justify-center items-center bg-[rgba(255,157,2,0.60)] absolute left-[0.531rem] top-[-0.625rem]">
								<span class="inline-block text-[rgba(0,0,0,0.70)] text-[0.875rem] font-lato font-bold">Inovação</span>
							</span>


							<span class="inline-block flex h-[6.625rem] md:h-[4rem] w-[6.625rem] md:w-[4rem] rounded-[50%] justify-center items-center bg-[rgba(43,163,237,0.60)] absolute left-[-0.625rem] bottom-[-0.375rem]">
								<span class="inline-block text-[rgba(0,0,0,0.70)] text-[0.875rem] font-lato font-bold">Objetivo</span>
							</span>

							<span class="inline-block flex h-[11.438rem] md:h-[6.5rem] w-[11.438rem] md:w-[6.5rem] rounded-[50%] justify-center items-center bg-[rgba(255,116,60,0.60)] absolute right-[-0.438rem] bottom-[-0.688rem]">
								<span class="inline-block text-[rgba(0,0,0,0.70)] text-[0.875rem] font-lato font-bold">Resultado</span>
							</span>
						</div>

						<!-- Card 2 -->
						<figure class="
							relative
							h-full sm:h-[7.5rem]
							min-w-[19.5rem] md:min-w-[11.5rem]
							md:w-[11.5rem]
							overflow-hidden
							rounded-[1rem]
							transition-all
							duration-[.3s]
							ease-in
							hover:scale-[1.2]
							hover:shadow-[0px_24px_32px_0px_rgba(16,16,18,0.25)]
							z-[1] hover:z-[3]

							group
							
							">
							<img class="h-full w-full object-center object-cover transition-all duration-[.6s] linear group-hover:scale-[1.2]" src="{% static 'img/about_us/ornament-3.webp' %}" alt="" />
						</figure>
					</div>

					
					<div class="flex sm:flex-wrap gap-[1.5rem] md:gap-[1rem] w-full h-[12.5rem] md:h-[7.5rem] sm:h-auto  mt-[1.5rem] relative">


						<!-- Card 3 -->
						<div class="
							h-full sm:h-[7.5rem]
							w-[7.5rem] md:w-[4.5rem]
							relative
							bg-[#2BA3ED]
							rounded-[0.375rem]
							overflow-hidden
							transition-all
							duration-[.3s]
							ease-in
							hover:scale-[1.2]
							hover:shadow-[0px_24px_32px_0px_rgba(16,16,18,0.25)]
							z-[1] hover:z-[3]

							group
						">
							<figure class="h-full w-full">
								<img class="h-full w-full object-center object-cover brightness-[0] invert-[1] scale-[1.5] transition-all duration-[.6s] linear group-hover:translate-x-[-2rem] group-hover:translate-y-[-2rem]" src="{% static 'img/about_us/ornament-6.webp' %}" alt="" />
							</figure>
						</div>

						<!-- Card 4-->
						<div class="
							h-full sm:h-[7.5rem]
							w-[26.563rem] md:w-[16.375rem]
							bg-[rgba(239,240,240,1)]
							rounded-[0.375rem]
							overflow-hidden
							relative
							transition-all
							duration-[.3s]
							ease-in
							hover:scale-[1.2]
							hover:shadow-[0px_24px_32px_0px_rgba(16,16,18,0.25)]
							z-[1] hover:z-[3]

							group
						">
							<figure class="absolute inset-0 h-full w-full z-[2]">
								<img class="h-full w-full object-cover object-center transition-all duration-[.6s] linear group-hover:scale-[1.2]" src="{% static 'img/about_us/ornament-7.webp' %}" alt="" />
							</figure>
							<figure class="absolute inset-0 h-full w-full">
								<img class="h-full w-full object-fill object-center" src="{% static 'img/about_us/ornament-8.webp' %}" alt="" />
							</figure>
						</div>
					</div>


				</div>
				
			</div>
		</div>


		<!-- Grupo de cards -->
		<div class="w-full border-y-[1px] border-[rgba(6,12,16,0.10)] mt-[6rem] md:mt-[3rem]">
			<div class="container md:w-full md:p-[0]">

				<div class="grid grid-cols-3 md:grid-cols-1">
					<div class="
							border-r-[1px] md:!border-r-0 md:border-b-[1px]  
							border-[rgba(6,12,16,0.10)]
							p-[2.5rem_2.5rem_2.5rem_0] md:p-[2rem_2rem_2rem_2rem] md2:p-[1.5rem_1.5rem_1.5rem_1.5rem]">
						<svg width="33" height="32" class="md2:w-[1.5rem] md2:h-[1.5rem]" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M21.1667 22H11.8333C11.0973 22 10.5 21.4027 10.5 20.6667V11.3333C10.5 10.5973 11.0973 10 11.8333 10H21.1667C21.9027 10 22.5 10.5973 22.5 11.3333V20.6667C22.5 21.4027 21.9027 22 21.1667 22Z" stroke="#2BA3ED"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.1667 16H17.8333C17.0973 16 16.5 15.4027 16.5 14.6667V5.33333C16.5 4.59733 17.0973 4 17.8333 4H27.1667C27.9027 4 28.5 4.59733 28.5 5.33333V14.6667C28.5 15.4027 27.9027 16 27.1667 16Z" stroke="#2BA3ED"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.1667 28H5.83333C5.09733 28 4.5 27.4027 4.5 26.6667V17.3333C4.5 16.5973 5.09733 16 5.83333 16H15.1667C15.9027 16 16.5 16.5973 16.5 17.3333V26.6667C16.5 27.4027 15.9027 28 15.1667 28Z" stroke="#2BA3ED"/>
						</svg>
						
						
						<div class="mt-[2rem] md2:mt-[1rem]">
							<h3 class="text-title-3 text-neutral-100 !font-light">
								Flexibilidade e escalabilidade
							</h3>
							<p class="text-paragraph-3 text-neutral-70 mt-[0.75rem] !font-normal">
								Somos flexíveis e escaláveis, ajustando nossas estratégias para atender às mudanças no mercado e às necessidades de nossos clientes.
							</p>
						</div>
					</div>

					<div class="
						border-r-[1px] md:!border-r-0 md:border-b-[1px]  
						border-[rgba(6,12,16,0.10)]
						p-[2.5rem_2.5rem_2.5rem_2.5rem] md:p-[2rem_2rem_2rem_2rem] md2:p-[1.5rem_1.5rem_1.5rem_1.5rem]
						
					">
						<svg width="33" height="32" class="md2:w-[1.5rem] md2:h-[1.5rem]" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M15.8333 18.3494L16.7587 23.904C17.0587 25.708 15.668 27.3494 13.84 27.3494V27.3494C12.3933 27.3494 11.1587 26.304 10.9213 24.876L9.83334 18.3494" stroke="#2BA3ED" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M18.8333 18.3494H8.33334C5.84801 18.3494 3.83334 16.3347 3.83334 13.8494V13.8494C3.83334 11.364 5.84801 9.34937 8.33334 9.34937H18.8333" stroke="#2BA3ED" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M18.8333 9.34932L25.5013 4.90399C26.4987 4.23999 27.8333 4.95466 27.8333 6.15332V21.5467C27.8333 22.7453 26.4987 23.4587 25.5013 22.7947L18.8333 18.3493" stroke="#2BA3ED" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M18.8333 18.3467V9.34668" stroke="#2BA3ED" stroke-linecap="round" stroke-linejoin="round"/>
						</svg> 
						
						
						<div class="mt-[2rem]">
							<h3 class="text-title-3 text-neutral-100 !font-light">
								Comunicação eficaz
							</h3>
							<p class="text-paragraph-3 text-neutral-70 mt-[0.75rem] !font-normal">
								Valorizamos uma comunicação eficaz, trabalhando em estreita colaboração com nossos clientes para desenvolver soluções de comunicação criativas e eficientes.
							</p>
						</div>
					</div>

					<div class="p-[2.5rem_0_2.5rem_2.5rem] md:p-[2rem_0_2rem_2rem] md2:p-[1.5rem_1.5rem_1.5rem_1.5rem]">
						<svg width="33" height="32" class="md2:w-[1.5rem] md2:h-[1.5rem]" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M28.5 28L23.8335 23.3333M27.1667 15.3333C27.1667 21.5926 22.0926 26.6667 15.8333 26.6667C9.57411 26.6667 4.5 21.5926 4.5 15.3333C4.5 9.07411 9.57411 4 15.8333 4C22.0926 4 27.1667 9.07411 27.1667 15.3333Z" stroke="#2BA3ED" stroke-linecap="round" stroke-linejoin="round"/>
						</svg> 
						
						
						<div class="mt-[2rem]">
							<h3 class="text-title-3 text-neutral-100 !font-light">
								Atenção aos detalhes
							</h3>
							<p class="text-paragraph-3 text-neutral-70 mt-[0.75rem] !font-normal">
								Prestamos atenção aos detalhes para garantir a qualidade consistente em todas as nossas estratégias.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- background -->
		<div class="absolute top-0 left-0 z-[-1] h-full w-full">
			<figure class="h-full w-full">
				<img class="h-full w-full object-cover object-center grayscale-[50%] opacity-[2%]" src="{% static 'img/bg-section.webp' %}" alt="" />
			</figure>

			<svg class="absolute top-0 left-0 h-full w-full m-[auto_auto] grayscale-[50%] opacity-[2%]"  viewBox="0 0 1250 817" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1141.18 512.487C1258.02 328.892 1247.16 120.671 1250 -87.5305L1089.83 -81.9372C787.696 -69.5933 401.138 -114.678 154.714 96.5426C-23.6874 249.458 -26.7426 433.671 40.304 580.625C179.356 826.724 506.589 852.666 763.376 783.003C910.096 731.22 1056.03 646.301 1141.18 512.487Z" fill="#95999B"/>
			</svg> 
		</div>
	</div>


	<!-- Swiper Inovação | Comunicação | Crescimento -->
	<div class="swiper Swiper-Inovacao-Comunicacao-Crescimento">
		<div class="swiper-wrapper h-[32.25rem]">

			<!-- Item 1 -->
			<div class="swiper-slide h-full w-full">
				<div class="p-[2rem] bg-[#FF9D02] h-full w-full flex flex-col justify-end">
					<p style="writing-mode:vertical-rl;" class="
						rotate-[180deg]
						font-lato
						font-bold
						text-[4rem]
						text-generics-black/60
						text-right
						
					">Inovação</p>
				</div>
			</div>



			<!-- Item 2 -->
			<div class="swiper-slide h-full w-full">
				<div class="bg-[rgba(117,10,56,1)] h-full w-full">
					<div class="swiper SwiperInovacao overflow-hidden h-full">
						<div class="swiper-wrapper h-full w-full">
							<div class="swiper-slide">
								<div class="flex justify-center">
									<div class="flex justify-center h-full">
										<span class="block w-[12.9rem] box-border h-[12.9rem] border-[1px] border-[#FF9E01] rounded-[50%] overflow-hidden">
											<img class="h-full w-full object-cover object-center rounded-[50%]" src="{% static 'img/about_us/inovacao.webp' %}" alt="" />
										</span>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="flex justify-center h-full">
									<span class="block w-[12.9rem] box-border h-[12.9rem] border-[1px] border-[#FF9E01] rounded-[50%] overflow-hidden">
										<img class="h-full w-full object-cover object-center rounded-[50%]" src="{% static 'img/about_us/inovacao.webp' %}" alt="" />
									</span>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="flex justify-center h-full">
									<span class="block w-[12.9rem] box-border h-[12.9rem] border-[1px] border-[#FF9E01] rounded-[50%] overflow-hidden">
										<img class="h-full w-full object-cover object-center rounded-[50%]" src="{% static 'img/about_us/inovacao.webp' %}" alt="" />
									</span>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="flex justify-center h-full">
									<span class="block w-[12.9rem] box-border h-[12.9rem] border-[1px] border-[#FF9E01] rounded-[50%] overflow-hidden">
										<img class="h-full w-full object-cover object-center rounded-[50%]" src="{% static 'img/about_us/inovacao.webp' %}" alt="" />
									</span>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="flex justify-center h-full">
									<span class="block w-[12.9rem] box-border h-[12.9rem] border-[1px] border-[#FF9E01] rounded-[50%] overflow-hidden">
										<img class="h-full w-full object-cover object-center rounded-[50%]" src="{% static 'img/about_us/inovacao.webp' %}" alt="" />
									</span>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="flex justify-center h-full">
									<span class="block w-[12.9rem] box-border h-[12.9rem] border-[1px] border-[#FF9E01] rounded-[50%] overflow-hidden">
										<img class="h-full w-full object-cover object-center rounded-[50%]" src="{% static 'img/about_us/inovacao.webp' %}" alt="" />
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Item 3 -->
			<div class="swiper-slide h-full w-full">
				<div class="p-[2rem] bg-[#2BA3ED] h-full w-full flex flex-col justify-end">
					<p style="writing-mode:vertical-rl;" class="
						rotate-[180deg]
						font-lato
						font-bold
						text-[4rem]
						text-generics-black/60
						text-right
						
					">Comunicação</p>
				</div>
			</div>

			<!-- Item 4 -->
			<div class="swiper-slide h-full w-full">
				<div class="bg-[#155DE3] h-full w-full flex justify-center overflow-hidden">
					<div class="flex flex-col items-center">
						<span class="
							block
							w-[31.988rem]
							h-[31.988rem]
							min-w-[31.988rem]
							min-h-[31.988rem]
							box-border
							border-[2px]
							border-[#F8D666]
							rounded-[50%]
							overflow-hidden"
						>
						</span>

						<span class="
							block
							w-[18.441rem]
							h-[18.441rem]
							min-w-[18.441rem]
							min-h-[18.441rem]
							box-border
							border-[2px]
							border-[#F8D666]
							rounded-[50%]
							overflow-hidden"
						>
							<img class="w-full h-full object-cover object-center" src="{% static 'img/about_us/comunicacao.webp' %}" alt="" />
						</span>

						<span class="
							block
							w-[11.849rem]
							h-[11.849rem]
							min-w-[11.849rem]
							min-h-[11.849rem]
							box-border
							border-[2px]
							border-[#F8D666]
							rounded-[50%]
							overflow-hidden"
						>
						</span>
					</div>
				</div>
			</div>

			<!-- Item 5 -->
			<div class="swiper-slide h-full w-full">
				<div class="p-[2rem] bg-[#FF743B] h-full w-full flex flex-col justify-end">
					<p style="writing-mode:vertical-rl;" class="
						rotate-[180deg]
						font-lato
						font-bold
						text-[4rem]
						text-generics-black/60
						text-right
						
					">Crescimento</p>
				</div>
			</div>
		</div>
	</div>
</section>