{% load static %}
{% load home_tags %}
{% is_dev as is_dev %}

{% get_site as site %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
           {{site.titulo_global}} | {{pagina.titulo}}
        {% endblock %}
    </title>

    {% block noindex %}
        {% if not pagina.indexavel %}
            <meta name="robots" content="noindex">
            <meta name="googlebot" content="noindex">
        {% endif %}
    {% endblock %}

    <!-- Facebook Meta Tags -->
	<meta property="og:url" content="{{site.dominio_oficial}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{site.titulo_global}}">
	<meta property="og:description" content="{{site.descricao_global}}">
	<meta property="og:image" content="{{site.logo.url}}">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{site.titulo_global}}">
	<meta name="twitter:description"
		content="{{site.descricao_global}}">
	<meta name="twitter:image" content="{{site.logo.url}}">

    <meta property="og:title" content="{{pagina.titulo}}" />
    <meta property="og:description" content="{{pagina.custom_description}}" />
    <meta property="og:image" content="{{site.logo.url}}" />

    <!-- description -->
    <meta itemprop="description" content="{{site.descricao_global}}">
	<meta itemprop="image" content="{{site.logo.url}}">

    <!-- meta tag facebook -->
    {{meta_tag_facebook|safe}}

    <!-- meta tag google -->
    {{meta_tag_google|safe}}

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    
    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="icon" type="image/x-icon" href="{{site.favicon.url}}">

    <link rel="stylesheet" href="{% static 'front_assets/dist/css/style.css' %}">

    <script type="text/javascript" src="{% static 'front_assets/src/js/GLOBAL.js' %}"></script>

    {{site.meta_tag_google|safe}}
    
    <style type="text/css">
        {{site.css_global|safe}}
    </style>

    <style type="text/css">
        {{pagina.css_adicional|safe}}
    </style>

    {% block extra_styles_vendor %}
    <!--  -->
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

</head>

<body class="{% block body_class %} {% endblock %}">
    {% include 'svg_defs.html' %}

    {% include "menus/menu_principal.html" %}


    <div class="container-main">
        {% block content %}
        <!--  -->
        {% endblock %}

    </div>


    {% block extra_js %}
    <!--  -->
    {% endblock %}

    <script>
        {{site.js_global|safe}}
    </script>

    <script>
        {{pagina.js_adicional|safe}}
    </script>

    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- Toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Jquery Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Axios config -->
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
        axios.defaults.headers.post['X-CSRFTOKEN'] = '{{ csrf_token }}';
    </script>

    <script type="text/javascript" src="{% static 'front_assets/dist/js/main.js' %}"></script>
</body>

</html>