{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Admin
{% endblock %}

{% block content %}
<form method="post" action="" id="login">
  {% csrf_token %}
    <div class="ornamento">
        <div class="logo-cliente">
            <img src="{{site.logo.url}}" alt="">
        </div>
    </div>
  
    <div class="orn-sections">
        <picture>
            <source srcset="{% static 'front_assets/src/assets/img/' %}ornamento-mobile.webp" media="(max-width: 600px)">
            <img src="{% static 'front_assets/src/assets/img/' %}ornamento-desktop.webp" alt="">
        </picture>
    </div>
  <!--login-->
  <div class="form-wrapper">
    <div class="content">
      <h2 class="title">Fazer login</h2>
      <p class="description">
        Seja bem-vindo(a)! Insira seu e-mail e senha para entrar em sua conta.
      </p>
    </div>
    <div class="inputs-wrapper">
      <div class="input-item">
        {{form.username|add_class:'input'|attr:'placeholder:E-mail'|attr:'js-ativo'}}
      </div>
      <div class="input-item">
        <div class="show-password" js-password>
          {{form.password|add_class:'input'|attr:'js-input-password'|attr:'placeholder:Senha'|attr:'js-ativo'}}
          <div class="password">
            <svg class="show">
              <use xlink:href="#icon-eye-show"></use>
            </svg>
            <svg class="hidden">
              <use xlink:href="#icon-eye-hidden"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="recuperar-senha">
        <a href="{% url 'password_reset' %}">
          Esqueceu a senha?
        </a>
      </div>
    </div>

    {{form.non_field_errors}}
    <div class="checkbox-wrapper">
      <div class="radio-container round size-16">
        <label class="check-label">
          <input type="checkbox" class="checkbox">
          <span class="radio-circle">
            <i class="radio-circle-inner"></i>
          </span>
          Permanecer conectado
        </label>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="btn">
        Entrar na conta
      </button>
    </div>
  </div>

  <div class="logo-ndt">
    <img src="{% static 'front_assets/src/assets/img/' %}logo_ndt_dark.svg" alt="">
  </div>

</form>
{% endblock %}
