body {
	--scrolbar-width: 8px;
		overflow-x: hidden;

	&.DOMContentLoaded {
		opacity: 1 !important;
	}
	scroll-behavior: inherit;
	// Scrollbar
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar {
		width: --scrolbar-width;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(var(--neutral-100), 0.4);
		border-radius: 20px;
	}

	// Focus
	* {
		outline: none;
	}

	&:not(.using-mouse) {

		*:focus-visible {
			outline-width: 2px;
			outline-style: dashed;
			outline-color: #4d4d4d;
			outline-offset: 6px;
		}
	}
}

html {
	--font-base: 100%;
	font-size: var(--font-base);
}

@media (max-width: 1446px) {
	html {
		font-size: calc(var(--font-base) - 7%);
	}
}
