// Colors
:root {
	--white: 255, 255, 255;
	--black: 0, 0, 0;
	--neutral-10: 245, 246, 250; // rgb(245, 246, 250)
	--neutral-20: 240, 241, 245; // rgb(240, 241, 245)
	--neutral-30: 229, 230, 235; // rgb(229, 230, 235)
	--neutral-60: 102, 102, 112; // rgb(102, 102, 112)
	--neutral-70: 70, 70, 81; // rgb(70, 70, 81)
	--neutral-100: 9, 10, 26; // rgb(9, 10, 26)

	--primary-dark: 16, 17, 53; // rgb(16, 17, 53)

	--primary-light: 129, 134, 247; // rgb(129, 134, 247)
	--primary-light-30: 168, 171, 254; // rgb(168, 171, 254)

	--primary-pure: 63, 69, 212; // rgb(63, 69, 212)

	--primary-pure-10: 234, 234, 248; // rgb(234, 234, 248)
	--primary-pure-70: 106, 110, 209; // rgb(106, 110, 209)

	--alert-error: 233, 44, 44; // rgb(233, 44, 44)
	--alert-error-10: 253, 234, 234; // rgb(253, 234, 234)
	--alert-warning: 210, 175, 0; // rgb(210, 175, 0)
	--alert-warning-10: 251, 247, 230; // rgb(251, 247, 230)
	--alert-success: 0, 128, 36; // rgb(0, 128, 36)
	--alert-success-10: 230, 249, 240; // rgb(230, 249, 240)
}

:root {
	--rounded-sm: 4px;
}
