// Colors
:root {
	--white: 255, 255, 255;
	--black: 0, 0, 0;
	--neutral-10: 245, 246, 250; // rgba(245, 246, 250)
	--neutral-20: 240, 241, 245; // rgba(240, 241, 245)
	--neutral-30: 229, 230, 235; // rgba(229, 230, 235)
	--neutral-40: 9, 10, 26, 0.4; // rgba(9, 10, 26)
	--neutral-60: 102, 102, 112; // rgba(102, 102, 112)
	--neutral-70: 70, 70, 81; // rgba(70, 70, 81)
	--neutral-100: 9, 10, 26; // rgba(9, 10, 26)

	--primary-dark: 16, 17, 53; // rgba(16, 17, 53)

	--primary-light: 129, 134, 247; // rgba(129, 134, 247)
	--primary-light-10: 88, 95, 247; // rgba(88, 95, 247)
	--primary-light-30: 168, 171, 254; // rgba(168, 171, 254)

	--primary-pure: 63, 69, 212; // rgba(63, 69, 212)

	--primary-pure-10: 234, 234, 248; // rgba(234, 234, 248)
	--primary-pure-70: 106, 110, 209; // rgba(106, 110, 209)

	--alert-error: 233, 44, 44; // rgba(233, 44, 44)
	--alert-error-10: 253, 234, 234; // rgba(253, 234, 234)
	--alert-warning: 210, 175, 0; // rgba(210, 175, 0)
	--alert-warning-10: 251, 247, 230; // rgba(251, 247, 230)
	--alert-success: 0, 128, 36; // rgba(0, 128, 36)
	--alert-success-10: 230, 249, 240; // rgba(230, 249, 240)
}

:root {
	--rounded-sm: 4px;
}
