

:root { 
	/* COLORS */ 
	--black-80: 0, 0, 0, .5; /* rgb(0 0 0) */ 

	--neutral-70: 53, 56, 58; /* rgb(53 56 58) */ 
	--neutral-60: 96, 100, 103; /* rgb(96 100 103) */ 
	--neutral-30: 228, 229, 229; /* rgb(228 229 229) */ 
	--neutral-20: 239, 240, 240; /* rgb(239 240 240) */ 
	--neutral-10: 241, 241, 241; /* rgb(241 241 241) */ 
	--neutral-10-op: 6, 12, 16, 0.1; /* rgb(6 12 16) */ 
	--neutral-05-op: 6, 12, 16, 0.05; /* rgb(6 12 16) */ 
	--neutral-40-op: 6, 12, 16, 0.4; /* rgb(6 12 16) */ 
	--neutral-100: 6, 12, 16; /* rgb(6 12 16) */ 

	--primary-pure: 43, 163, 237; /* rgb(43 163 237) */ 
	--primary-pure-10-op: 43, 163, 237, 0.1; /* rgb(43 163 237) */ 
	--primary-pure-10: 234, 246, 254; /* rgb(234 246 254) */

	--secondary-100: 0, 84, 156; /* rgb(0 84 156) */ 
	--secondary-80: 10, 107, 176; /* rgb(10 107 176) */ 
	--secondary-60: 31, 140, 212; /* rgb(31 140 212) */ 

	--generics-white: 255, 255, 255; /* rgb(255 255 255) */ 
	--generics-black: 0, 0, 0; /* rgb(0 0 0) */ 
	--generics-black-50-op: 0, 0, 0, 0.5; /* rgb(0 0 0) */ 
	--generics-white-70-op: 255, 255, 255, 0.7; /* rgb(255 255 255) */ 
	--generics-white-40-op: 255, 255, 255, 0.4; /* rgb(255 255 255) */ 
	--generics-white-20-op: 255, 255, 255, 0.2; /* rgb(255 255 255) */ 
	--generics-white-10-op: 255, 255, 255, 0.1; /* rgb(255 255 255) */ 
	--generics-white-05-op: 255, 255, 255, 0.05; /* rgb(255 255 255) */
}
/*
:root {
	--white: 255, 255, 255;
	--black: 0, 0, 0;
	--neutral-10: 245, 246, 250; // rgba(245, 246, 250)
	--neutral-20: 240, 241, 245; // rgba(240, 241, 245)
	--neutral-30: 229, 230, 235; // rgba(229, 230, 235)
	--neutral-40: 9, 10, 26, 0.4; // rgba(9, 10, 26)
	--neutral-60: 102, 102, 112; // rgba(102, 102, 112)
	--neutral-70: 70, 70, 81; // rgba(70, 70, 81)
	--neutral-100: 9, 10, 26; // rgba(9, 10, 26)

	--primary-dark: 16, 17, 53; // rgba(16, 17, 53)

	--primary-light: 129, 134, 247; // rgba(129, 134, 247)
	--primary-light-10: 88, 95, 247; // rgba(88, 95, 247)
	--primary-light-30: 168, 171, 254; // rgba(168, 171, 254)

	--primary-pure: 63, 69, 212; // rgba(63, 69, 212)

	--primary-pure-10: 234, 234, 248; // rgba(234, 234, 248)
	--primary-pure-70: 106, 110, 209; // rgba(106, 110, 209)

	--alert-error: 233, 44, 44; // rgba(233, 44, 44)
	--alert-error-10: 253, 234, 234; // rgba(253, 234, 234)
	--alert-warning: 210, 175, 0; // rgba(210, 175, 0)
	--alert-warning-10: 251, 247, 230; // rgba(251, 247, 230)
	--alert-success: 0, 128, 36; // rgba(0, 128, 36)
	--alert-success-10: 230, 249, 240; // rgba(230, 249, 240)
}
*/

:root {
	--rounded-sm: 4px;
}
