.safe-text {
	word-break: break-word;
}

.three-lines {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.four-lines {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

ul .circle::before {
	content: '\2022';
	color: rgb(var(--primary-pure));
	font-weight: bold;
	display: inline-block;
	width: 1rem;
	margin-left: -1rem;
}

.LinearGradientWhite {
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.LinearGradientBlack {
	border-radius: 8px;
	border: 1px solid var(--ds-neutral-l-05-op, rgba(9, 10, 26, 0.05));
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.LinearGradientPurple {
	background: linear-gradient(-270deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
}

.LinearGradientBigNumberTop {
	max-width: 280px;
	padding: 1.5rem;
	position: relative;
	border-radius: 0.5rem;
	background: linear-gradient(360deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
	padding: 1px;

	@media (max-width: 1024px) {
		max-width: 327px;
	}
}

.LinearGradientBigNumberBottom {
	max-width: 280px;
	padding: 1.5rem;
	position: relative;
	border-radius: 0.5rem;
	background: linear-gradient(180deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
	padding: 1px;

	@media (max-width: 1024px) {
		max-width: 327px;
	}
}

.LinearGradientBigNumberBottom2 {
	max-width: 384px;
	padding: 1.5rem;
	position: relative;
	border-radius: 0.5rem;
	background: linear-gradient(180deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
	padding: 1px;

	@media (max-width: 1024px) {
		max-width: 327px;
	}
}

.BorderNeutralWhiteOp5 {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(25px);
}

.BorderPrimaryLigthOp10 {
	border-radius: 0.25rem;
	background: var(--ds-primary-light-10-op, rgba(88, 95, 247, 0.1));
	backdrop-filter: blur(1.5625rem);
}
