.text-header{
	background: linear-gradient(270deg, #46A8EE 38.19%, #1F8CD4 99.9%);
	background-clip: text;
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 

	font-family: 'Lato', sans-serif;
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 130%; 

	@media (max-width: 767px){
		font-size: 2rem;
	}
}





.Ornament{

	&[circulo]{
		cursor: pointer;
		border-radius: 50%;
		/*border: 1px solid rgba(43, 163, 237, 0.00);*/
		background: linear-gradient(180deg, #2BA3ED 0%, rgba(43, 163, 237, 0.33) 51.71%, rgba(43, 163, 237, 0.00) 100%);
		backdrop-filter: blur(3.545497179031372px); 
		&[animation-rodar]{
			animation-name: rodar;
			animation-duration: 7s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		&:hover{
			transform: scale(6);
		}
	}
}




/** Custom Swiper **/
.SwiperInovacao{
	.swiper-slide{
		span{
			img{
				visibility: hidden;
				opacity: 0;
				transition: visibility .7s linear, opacity .7s linear, transform .5s linear;
				transform: scale(0);
				
				
			}
		}
		&.swiper-slide-active{
			span{
				img{
					visibility: visible;
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}

.SwiperComunicacao{
	.swiper-slide{
		transition: all .3s linear;
		span{
			transition: all .5s linear;
		}

		&.swiper-slide-prev{
			height: 32rem;
			width: 32rem;
			span{
				height: 32rem;
				width: 32rem;
			}
		}
		&.swiper-slide-active{
			height: 18.438rem;
			width: 18.438rem;
			span{
				height: 18.438rem;
				width: 18.438rem;
			}
		}
		&.swiper-slide-next{
			height: 11.375rem;
			width: 11.375rem;
			span{
				height: 11.375rem;
				width: 11.375rem;
			}
		}
	}	
}

/*swiper-slide swiper-slide-active*/

@keyframes rodar{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}



.safe-text {
	word-break: break-word;
}

.three-lines {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.four-lines {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

ul .circle::before {
	content: '\2022';
	color: rgb(var(--primary-pure));
	font-weight: bold;
	display: inline-block;
	width: 1rem;
	margin-left: -1rem;
}

.LinearGradientWhite {
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.LinearGradientBlack {
	border-radius: 8px;
	border: 1px solid var(--ds-neutral-l-05-op, rgba(9, 10, 26, 0.05));
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.LinearGradientPurple {
	background: linear-gradient(-270deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
}

.LinearGradientBigNumberTop {
	max-width: 280px;
	padding: 1.5rem;
	position: relative;
	border-radius: 0.5rem;
	background: linear-gradient(360deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
	padding: 1px;

	@media (max-width: 1024px) {
		max-width: 327px;
	}
}

.LinearGradientBigNumberBottom {
	max-width: 280px;
	padding: 1.5rem;
	position: relative;
	border-radius: 0.5rem;
	background: linear-gradient(180deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
	padding: 1px;

	@media (max-width: 1024px) {
		max-width: 327px;
	}
}

.LinearGradientBigNumberBottom2 {
	max-width: 384px;
	padding: 1.5rem;
	position: relative;
	border-radius: 0.5rem;
	background: linear-gradient(180deg, #8186f7 50%, rgba(129, 134, 247, 0) 98.92%);
	padding: 1px;

	@media (max-width: 1024px) {
		max-width: 327px;
	}
}

.BorderNeutralWhiteOp5 {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(25px);
}

.BorderPrimaryLigthOp10 {
	border-radius: 0.25rem;
	background: var(--ds-primary-light-10-op, rgba(88, 95, 247, 0.1));
	backdrop-filter: blur(1.5625rem);
}
