{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load ndt_vite_tags %}

{% block title %}
{{site.titulo_global}} | Seções
{% endblock %}

{% block content %}

<div>
	<!-- ABOUT US  -->
	{% include './about_us/about_us1.html' %}
	{% include './about_us/about_us2.html' %}
	{% include './about_us/about_us3.html' %}
	{% include './about_us/about_us4.html' %}
	{% include './about_us/about_us5.html' %}
	{% include './about_us/about_us6.html' %}
	{% include './about_us/about_us8.html' %}
	{% include './about_us/about_us9.html' %}
	{% include './about_us/about_us10.html' %}
	{% include './about_us/about_us11.html' %}
	{% include './about_us/about_us12.html' %}
	{% include './about_us/about_us13.html' %}

	<!-- ACEITAR COOKIES  -->
	{% include './aceitar_cookies/cookies_1.html' %}
	{% include './aceitar_cookies/cookies_2.html' %}
	{% include './aceitar_cookies/cookies_3.html' %}
	{% include './aceitar_cookies/cookies_4.html' %}

	<!-- BANNERS -->
	{% include './banners/banner_1.html' %}
	{% include './banners/banner_2.html' %}

	<!-- BIG NUMBERS -->
	{% include './big_numbers/big_number1.html' %}
	{% include './big_numbers/big_number2.html' %}
	{% include './big_numbers/big_number3.html' %}
	{% include './big_numbers/big_number4.html' %}
	{% include './big_numbers/big_number5.html' %}
	{% include './big_numbers/big_number6.html' %}
	{% include './big_numbers/big_number7.html' %}
	{% include './big_numbers/big_number8.html' %}
	{% include './big_numbers/big_number9.html' %}
	{% include './big_numbers/big_number10.html' %}
	{% include './big_numbers/big_number11.html' %}
	{% include './big_numbers/big_number12.html' %}
	{% include './big_numbers/big_number13.html' %}

	<!-- BLOG -->
	{% include './blog/blog_1.html' %}
	{% include './blog/blog_2.html' %}
	{% include './blog/blog_3.html' %}
	{% include './blog/blog_4.html' %}
	{% include './blog/blog_5.html' %}
	{% include './blog/blog_6.html' %}
	{% include './blog/blog_7.html' %}
	{% include './blog/blog_8.html' %}
	{% include './blog/blog_9.html' %}

	<!-- CARDS -->
	{% include './cards/card_1.html' %}
	{% include './cards/card_2.html' %}
	{% include './cards/card_3.html' %}
	{% include './cards/card_4.html' %}
	{% include './cards/card_5.html' %}
	{% include './cards/card_6.html' %}
	{% include './cards/card_7.html' %}
	{% include './cards/card_8.html' %}

	<!-- CONTACT -->
	{% include './contact/contact_1.html' %}
	{% include './contact/contact_2.html' %}
	{% include './contact/contact_3.html' %}
	{% include './contact/contact_4.html' %}
	{% include './contact/contact_5.html' %}
	{% include './contact/contact_6.html' %}
	
	<!-- COMO FUNCIONA / STAGES -->
	{% include './como_funciona/stage_1.html' %}
	{% include './como_funciona/stage_2.html' %}
	{% include './como_funciona/stage_3.html' %}
	{% include './como_funciona/stage_4.html' %}
	{% include './como_funciona/stage_5.html' %}
	{% include './como_funciona/stage_6.html' %}
	{% include './como_funciona/stage_7.html' %}
	{% include './como_funciona/stage_8.html' %}

	<!-- FAQ -->
	{% include './faq/faq1.html' %}
	{% include './faq/faq2.html' %}
	{% include './faq/faq3.html' %}
	{% include './faq/faq4.html' %}
	{% include './faq/faq5.html' %}
	{% include './faq/faq6.html' %}

	<!-- FOOTER -->
	{% include './footer/footer_1.html' %}
	{% include './footer/footer_2.html' %}
	{% include './footer/footer_3.html' %}
	{% include './footer/footer_4.html' %}
	{% include './footer/footer_5.html' %}
	{% include './footer/footer_6.html' %}

	<!-- GALLERY -->
	{% include './gallery/gallery_1.html' %}
	{% include './gallery/gallery_2.html' %}
	
	<!-- INSTAGRAM -->
	{% include './instagram/instagram_1.html' %}
	{% include './instagram/instagram_2.html' %}

	<!-- PARTNERS -->
	{% include './partners/partners_1.html' %}
	{% include './partners/partners_2.html' %}

	<!-- PRICING -->
	{% include './pricing/pricing_1.html' %}
	{% include './pricing/pricing_2.html' %}

	<!-- TEAM -->
	{% include './team/team_1.html' %}
	{% include './team/team_2.html' %}

	<!-- TERMOS E SERVICOS	-->
	{% include './termos_politicas/termos_politicas_1.html' %}
	{% include './termos_politicas/termos_politicas_2.html' %}
	
	<!-- TESTIMONIALS	-->
	{% include './testimonials/depoimentos_1.html' %}
	{% include './testimonials/depoimentos_2.html' %}

	<!-- SERVICES -->
	{% include './services/services1.html' %}
	{% include './services/services2.html' %}
	{% include './services/services6.html' %}
	{% include './services/services7.html' %}
	


</div>
<!------------------------------------------>

<script>
	let re = false
	document.addEventListener('keydown', function (event) {
		// Verifica se a tecla 'F' foi pressionada e a tecla 'Ctrl' (ou 'Cmd' em Mac) está sendo pressionada ao mesmo tempo
		if ((event.ctrlKey || event.metaKey) && event.key === 'f') {
			if (re) return
			re = true
			document.querySelectorAll('section').forEach((i) => {
				i.insertAdjacentHTML(
					'beforebegin',
					`<h1 class="text-display-1 font-bold">${i.id}</h1>`
				)
			})
		}
	})
	</script>


{% endblock %}