{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load ndt_vite_tags_tags %}

{% block title %}
{{site.titulo_global}} | Seções
{% endblock %}

{% block content %}

<div>
	<!-- ABOUT US  -->
	{% include './about_us/about_us2.html' %}



	<!-- FAQ -->
	{% include './faq/faq1.html' %}
	{% include './faq/faq2.html' %}
	{% include './faq/faq3.html' %}
	{% include './faq/faq4.html' %}
	{% include './faq/faq5.html' %}
	{% include './faq/faq6.html' %}


	<!-- SERVICES -->
	{% include './services/services2.html' %}
	{% include './services/services6.html' %}
	{% include './services/services7.html' %}

</div>
<!------------------------------------------>




{% endblock %}