[js-checkbox] {
	position: relative;
	cursor: pointer;
	user-select: none;
	height: max-content;
	width: max-content;

	.Checkbox {
		width: 20px;
		height: 20px;
		cursor: pointer;
		display: block;
		transition: 0.3s ease;

	}

	&:hover {
		.mask:before {
			background-color: rgb(var(--neutral-100), 0.1);
		}
	}

	&[size='sm'] {
		.Checkbox {
			width: 16px;
			height: 16px;
			.icon-check {
				transform: scale(0.75) !important;
			}
		}
	}

	&[size='md'] {
		.Checkbox {
			width: 18px;
			height: 18px;
		}
	}

	.mask {
		border-radius: 4px;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		pointer-events: none;
		box-sizing: border-box;
		transition: all 0.25s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;

		i:not(.icon-check) {
			opacity: 0;
			transition: all 0.25s ease;
			color: #fff;
			font-size: 1.1em;
			transform: scale(0.5);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: rgba(var(--primary-pure), 1);
			transform: scale(0.5);
			border-radius: inherit;
			opacity: 0;
			transition: all 0.25s ease;
			z-index: -1;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			transition: all 0.25s ease;
			z-index: -1;
			border: 2px solid rgb(var(--neutral-30));
		}

		.icon-check {
			opacity: 0;
			z-index: 3;
			transform: scale(0.9);

			span {
				transform: rotate(45deg);
				display: block;
				position: relative;
				width: 8px;
				height: 13px;
				margin-top: -4px;
				.line1 {
					background: transparent;
					content: '';
					position: absolute;
					height: 2px;
					border-radius: 2px;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
					border-radius: 5px;
					z-index: 100;
					width: 8px;
					bottom: 0;
					&:after {
						content: '';
						position: absolute;
						width: 0;
						height: 2px;
						background: #fff;
						transition: all 0.25s ease;
						border-radius: 5px 0 0 5px;
					}
				}
				.line2 {
					bottom: 0;
					right: 0;
					z-index: 100;
					background: transparent;
					content: '';
					position: absolute;
					height: 13px;
					border-radius: 5px;
					transition: all 0.2s ease;
					width: 2px;
					&:after {
						content: '';
						position: absolute;
						width: 2px;
						height: 0%;
						background: #fff;
						transition: all 0.25s ease;
						bottom: 0;
						border-radius: 5px 5px 0 0;
					}
				}
			}
		}
	}

	// reset estilos do input
	input {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		margin: 0px;
		padding: 0px;
		opacity: 0;
		z-index: 100;
		cursor: pointer;

		&:disabled {
			opacity: 0;
			pointer-events: none;
		}
		&:active {
			~ .mask {
				background: var(--primary-pure) !important;
			}
		}

		&:checked {
			~ .Checkbox .mask {
				box-shadow: 0px 0px 0px 0px rgba(var(--primary-pure), 1);

				i:not(.icon-check) {
					opacity: 1;
					transform: scale(1);
					transition: all 0.25s ease 0.15s;
				}
				.icon-check {
					opacity: 1;
					span {
						.line1 {
							&:after {
								width: 100%;
								transition: all 0.25s ease 0.1s;
							}
						}
						.line2 {
							&:after {
								transition: all 0.2s ease 0.3s;
								height: 100%;
							}
						}
					}
				}
				&:after {
					opacity: 1;
					transform: scale(1);
				}

				&:before {
					opacity: 0;
					transform: scale(1.2);
				}
			}
		}
	}
}
