{% load static %}
{% load home_tags %}
{% is_dev as is_dev %}
{% get_site as site %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
	{% vite_hmr_client %}

	<title>
		{% block title %} {{site.titulo_global}} | {{pagina.titulo}} {% endblock%}
	</title>

	{% include 'meta_tags.html' %}

	<!-- FONT -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
		rel="stylesheet" />

	<!-- GLOBAL -->
	{% vite_asset 'src/js/utils/GLOBAL.js' type='text/javascript' %}

	<!-- CSS -->
	{% vite_asset 'src/index.js' %}

	{% block extra_styles %} <!--  --> {% endblock %}

	<!-- CSS ADICIONAL ADMIN -->
	{% include 'adicionais/css.html' %}
	<!-- CONTEXTO GLOBAL Django para Javascript -->
	{% include 'adicionais/context.html' %}
</head>

<body style="opacity: 0" class="{% block body_class %} {% endblock %}">

	{% include 'svg_defs.html' %}
<!-- 	{% include "menus/menu_principal.html" %} -->


	{% block content %} <!-- content --> {% endblock %}

	<!-- JS ADICIONAL ADMIN -->
	{% include 'adicionais/js.html' %}
	<!-- MAIN -->
	{% vite_asset 'src/js/main.js'%}

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	{% block extra_js %} {% endblock %}

</body>

</html>