{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load django_vite %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Admin
{% endblock %}

<!--  js: "static/src/js/pages/Login.js" -->

{% block content %}
<!--login-->
<svg class="w-full fixed bottom-0 left-0 h-auto backdrop-blur-2xl" viewBox="0 0 1920 744" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g filter="url(#filter0_b_3423_30273)">
		<path d="M0 744V551L1920 0V744H0Z" fill="white" fill-opacity="0.5" />
	</g>
	<defs>
		<filter id="filter0_b_3423_30273" x="-80" y="-80" width="2080" height="904" filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feGaussianBlur in="BackgroundImageFix" stdDeviation="40" />
			<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_3423_30273" />
			<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_3423_30273" result="shape" />
		</filter>
	</defs>
</svg>
<main js-page='login'>
	<form method="post" action="" class="min-h-screen">
		{% csrf_token %}
		<div class="flex flex-col justify-center p-[3.75rem] md:p-0 xl:p-16">
			<header
				class=" relative z-[-1] flex justify-center max-w-[112.5rem] h-[24.625rem] rounded-[190px] bg-primary-pure md:max-w-full md:rounded-b-2xl md:rounded-none xl:h-[20rem] pointer-events-none">
				<div class="logo-cliente absolute top-72 xl:top-48" js-anima data-anima="down" data-duration="0.7">
					<img class="h-32 mx-auto md:h-24 " src="{% vite_asset_url 'img/natura.png' %}" alt="">
				</div>
				<picture>
					<source srcset="{% static 'front_assets/src/assets/img/' %}ornamento-mobile.webp" media="(max-width: 600px)">
					<img src="{% static 'front_assets/src/assets/img/' %}ornamento-desktop.webp" alt="">
				</picture>
			</header>

			

			<div
				class="Card shadow-sm py-32 px-24 rounded-lg form-wrapper w-fit -mt-[12.9375rem] border mx-auto max-w-[428px] bg-white sm:max-w-[calc(100%_-_32px)]"
				js-anima data-anima="down" data-value="100" data-duration="0.6">

				<header class="flex flex-col gap-8">
					<h2 js-anima data-delay="0.1" data-anima="opacity" class="text-title-4">Fazer login</h2>
					<p class="description text-neutral-70" js-anima data-delay="0.15" data-anima="opacity">
						Seja bem-vindo(a)!<br> Insira seu e-mail e senha para entrar em sua conta.
					</p>
				</header>

				<div class="mt-32 mx-auto">
					<div class="Input h-48  flex" js-anima data-delay="0.2" data-anima="opacity">
						{{form.username|attr:'placeholder:E-mail'}}
					</div>

					<div class="Input h-48 flex mt-8 gap-0" js-password js-anima data-delay="0.25" data-anima="opacity">
						{{form.password|attr:'js-input-password'|attr:'placeholder:Senha'}}
						<button js-button-password type="button"
							class="grid place-items-center cursor-pointer h-full w-48 shrink-0 hover:bg-primary-pure/10" js-ripple>
							<ion-icon class="on text-paragraph-1 text-neutral-60" name="eye-outline" size="small"></ion-icon>
							<ion-icon class="off hidden text-paragraph-1 text-neutral-60" name="eye-off-outline"></ion-icon>
						</button>
					</div>

					<div class="recuperar-senha mt-8" js-anima data-delay="0.30" data-anima="opacity">
						<a href="{% url 'password_reset' %}" class="hover:underline text-headline-4  text-neutral-60 ">
							Esqueceu a senha?
						</a>
					</div>

				</div>

				<!-- Erros -->
				<div js-anima data-delay="0.35 " data-anima="opacity">
					{{form.errors|json_script:"js-error"}}
				</div>


				<label class="Label-check text-headline-3 mt-16" js-anima data-delay="0.35 " data-anima="opacity">
					<div js-checkbox size="sm">
						<input type="checkbox" name="permanecer_conectado" checked>
					</div>
					<p>Permanecer conectado</p>
				</label>

				<div class="btn-wrapper mt-40 " js-anima data-delay="0.40" data-anima="opacity">
					<button type="submit" class="Button  text-headline-2 !rounded-3xl w-full justify-center" secondary size="lg"
						js-ripple>
						Entrar na conta
					</button>
				</div>
			</div>

			<footer class="mt-auto py-16" js-anima data-delay="0.5" data-anima="opacity">
				<img class="h-24 mx-auto xl:h-16" src="{% vite_asset_url 'img/logo_ndt_light.png' %}" alt="">
			</footer>
		</div>

	</form>



</main>

{% endblock %}


{% block extra_js %}

{% endblock %}