{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load django_vite %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Admin
{% endblock %}

<!--  js: "static/src/js/pages/Login.js" -->

{% block content %}

<!-- 
<header class=" max-w-[26.75rem]  flex justify-start mb-40 -mt-[calc(4rem_+_2.5rem)]">
	<div class="logo-cliente" js-anima data-anima="down" data-duration="0.7">

	</div>
	<picture>
		<source srcset="{% static 'front_assets/src/assets/img/' %}ornamento-mobile.webp" media="(max-width: 37.5rem)">
		<img src="{% static 'front_assets/src/assets/img/' %}ornamento-desktop.webp" alt="">
	</picture>
</header>
 -->

<main js-page='login'>
	<form method="post" action="">
		{% csrf_token %}
		<div class="grid  grid-cols-[max-content,_auto] h-full min-h-screen">
			<div class="flex flex-col mx-120 my-auto">
				<!-- Formulario -->
				<article
					class="Card shadow-sm py-32 px-24 rounded-lg form-wrapper  border mx-auto max-w-[26.75rem] bg-white sm:max-w-[calc(100%_-_2rem)] "
					js-anima data-anima="down" data-value="100" data-duration="0.6">

					<header class="flex flex-col gap-8">
						<h2 js-anima data-delay="0.1" data-anima="opacity" class="text-title-4">Fazer login</h2>
						<p class="description text-neutral-70" js-anima data-delay="0.15" data-anima="opacity">
							Seja bem-vindo(a)!<br> Insira seu e-mail e senha para entrar em sua conta.
						</p>
					</header>

					<div class="mt-32 mx-auto">
						<div class="Input h-48  flex" js-anima data-delay="0.2" data-anima="opacity">
							{{form.username|attr:'placeholder:E-mail'}}
						</div>

						<div class="Input h-48 flex mt-8 gap-0" js-password js-anima data-delay="0.25" data-anima="opacity">
							{{form.password|attr:'js-input-password'|attr:'placeholder:Senha'}}
							<button js-button-password type="button"
								class="grid place-items-center cursor-pointer h-full w-48 shrink-0 hover:bg-primary-pure/10" js-ripple>
								<ion-icon class="on text-paragraph-1 text-neutral-60" name="eye-outline" size="small"></ion-icon>
								<ion-icon class="off hidden text-paragraph-1 text-neutral-60" name="eye-off-outline"></ion-icon>
							</button>
						</div>

						<div class="recuperar-senha mt-8" js-anima data-delay="0.30" data-anima="opacity">
							<a href="{% url 'password_reset' %}" class="hover:underline text-headline-4  text-neutral-60 ">
								Esqueceu a senha?
							</a>
						</div>

					</div>

					<!-- Erros -->
					<div js-anima data-delay="0.35 " data-anima="opacity">
						{{form.errors|json_script:"js-error"}}
					</div>


					<label class="Label-check text-headline-3 mt-16" js-anima data-delay="0.35 " data-anima="opacity">
						<div js-checkbox size="sm">
							<input type="checkbox" name="permanecer_conectado" checked>
						</div>
						<p>Permanecer conectado</p>
					</label>

					<div class="btn-wrapper mt-40 " js-anima data-delay="0.40" data-anima="opacity">
						<button type="submit" class="Button  text-headline-2 !rounded-3xl w-full justify-center" secondary size="lg"
							js-ripple>
							Entrar na conta
						</button>
					</div>
				</article>

				<footer class="h-max py-16" js-anima data-delay="0.5" data-anima="opacity">
					<img class="h-24 mx-auto xl:h-16" src="{% static 'img/logo_ndt_light.png' %}" alt="">
				</footer>
			</div>

			<picture
				class="rounded-lg bg-primary-pure  h-[calc(100%_-_5rem)] w-[calc(100%_-_5rem)] m-40 grid place-items-center relative">
				<img class="h-96 relative z-10" src="{% static 'img/natura.png' %}" alt="">
				<img class=" absolute z-0 w-full h-full left-0 top-0" src="{% static 'img/login/blur.png' %}" alt="">
			</picture>

		</div>

	</form>

	<!-- 	
	<section class="w-screen h-screen fixed -z-10 left-0 top-0">
		<div class=" w-full h-full bg-white/50 backdrop-blur-2xl Clip z-40 relative"> </div>
		<div class="bg-primary-pure absolute w-[242px] h-[242px] bottom-[6rem] left-[10.625rem] rounded-full z-10" ></div>
		<div class="bg-primary-pure absolute w-[140px] h-[140px] bottom-[25rem] right-[35vw] rounded-full z-10" ></div>
		<div class="bg-primary-dark absolute w-[68px] h-[68px] bottom-[37rem] right-[7vw] rounded-full z-10" ></div>
	</section>
 -->
</main>

{% endblock %}


{% block extra_js %}

{% endblock %}