{% extends 'registration/base_registration.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load django_vite %}
{% block body_class %}{% endblock %}

{% block title %}
{{site.titulo_global}} | Admin
{% endblock %}

{% block content %}
<form method="post" action="" id="login" class="h-screen">
	{% csrf_token %}
	<div class="flex flex-col justify-center p-[3.75rem] md:p-0">
		<div
			class="orn-sections relative z-[-1] flex justify-center max-w-[112.5rem] h-[24.625rem] rounded-[190px] bg-primary-pure md:max-w-full md:rounded-b-2xl md:rounded-none">
			<div class="logo-cliente absolute top-72">
				<img class="h-32 mx-auto md:h-24" src="{% vite_asset_url 'img/logo_brand.webp' %}" alt="">
			</div>
			<picture>
				<source srcset="{% static 'front_assets/src/assets/img/' %}ornamento-mobile.webp" media="(max-width: 600px)">
				<img src="{% static 'front_assets/src/assets/img/' %}ornamento-desktop.webp" alt="">
			</picture>
		</div>

		<!--login-->
		<div
			class="Card py-32 px-24 rounded-lg form-wrapper w-fit -mt-[12.9375rem] border mx-auto max-w-[428px] bg-white sm:mx-24">
			<div class="content flex flex-col gap-8">
				<h2 class="text-title-4">Fazer login</h2>
				<p class="description text-neutral-70">
					Seja bem-vindo(a)! Insira seu e-mail e senha para entrar em sua conta.
				</p>
			</div>

			<div class="inputs-wrapper mt-32 mx-auto">
				<div class="input-item border-b border-neutral-30 px-8 py-16">
					{{form.username|add_class:'input w-full'|attr:'placeholder:E-mail'|attr:'js-ativo'}}
				</div>

				<div class="input-item border-b border-neutral-30 px-8 py-16">
					<div class="show-password flex" js-password>
						{{form.password|add_class:'input w-full'|attr:'js-input-password'|attr:'placeholder:Senha'|attr:'js-ativo'}}
						<div class="password grid place-items-center cursor-pointer">
							<ion-icon name="eye-outline" class="show" size="small"></ion-icon>
							<ion-icon name="eye-off-outline" class="hidden"></ion-icon>
						</div>
					</div>
				</div>
				<div class="recuperar-senha mt-8">
					<a href="{% url 'password_reset' %}" class="text-paragraph-4 text-neutral-70 text-xs">
						Esqueceu a senha?
					</a>
				</div>
			</div>

			{{form.errors|json_script:"form-errors-login"}}

			<div class="checkbox-wrapper mt-24">
				<div class="radio-container round size-16">
					<label class="check-label text-neutral-70">
						<input type="checkbox" class="checkbox">
						<span class="radio-circle">
							<i class="radio-circle-inner"></i>
						</span>
						Permanecer conectado
					</label>
				</div>
			</div>

			<div class="btn-wrapper mt-40">
				<button class="Button secondary text-headline-2 !rounded-3xl" size="lg">
					Entrar na conta
				</button>
			</div>
		</div>

		<div class="logo-ndt mt-auto">
			<img class="h-32 mx-auto" src="{% vite_asset_url 'img/logo_ndt_light.png' %}" alt="">
		</div>
	</div>

</form>
{% endblock %}