{% load django_vite %}
<!-- 
css: "static/src/css/DesignSystem/Card.css" 

-->

<div class="Card p-16 max-w-[360px]">
	<div class="flex gap-32">
		<img class="w-[112px] h-[112px] rounded object-cover" src="{% vite_asset_url 'img/placeholder.png' %}">
		<div class="flex flex-col">
			<h1 class="text-headline-2 font-medium">Card de exemplo</h1>
			<p class="text-paragraph-2 text-neutral-70">Lorem ipsum dolor sit amet consectetur adipi</p>
			<p class="text-primary-pure text-title-4 mt-16 font-semibold">R$ 00,00</p>
		</div>
	</div>

</div>