<div class="cookies-container">
	<div class="cookies-content">
		<h2>Esse site usa cookies</h2>
		<p>Nós armazenamos dados temporariamente para melhorar a sua experiência de navegação e recomendar conteúdo de seu
			interesse. Ao utilizar nossos serviços, você concorda com tal monitoramento.</p>
		<div class="cookies-pref">
			<label><input type="checkbox" checked="true" name="analise-de-uso" id="analise-de-uso"
					data-cookies="analytics">Análise de Uso</label>
			<label><input type="checkbox" checked="true" name="marketing" id="marketing"
					data-cookies="marketing">Marketing</label>
		</div>
		<button class="cookies-save">Salvar e continuar </button>
	</div>
</div>