{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load django_vite %}

{% block extra_styles %}
<style>
	html {
		scroll-behavior: smooth;
	}
</style>
{% endblock %}

{% block content %}


{% include './Header.html' %}

<main class="">
	<div class="flex   gap-32  w-full">

		<aside class=" w-[260px] sticky top-72  h-screen overflow-y-auto border-r pt-- border-r-neutral-10">
			<div class="flex flex-col gap-8 px-16 pt-40">
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Button">Button</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Accordion">Accordion</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Selects">Selects</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Header">Header</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Input">Input</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Card">Card</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Tooltip">Tooltip</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Dropdown">Dropdown</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Carrousel">Carrousel</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Modal">Modal</a>
				<a js-ripple class="p-8 transition rounded-md hover:bg-neutral-10 block" href="#Checkbox">Checkbox</a>
			</div>
		</aside>



		<div class="container h-[4000px] overflow-y-auto  pt-40">

			<section id="Button" class="pt-72">
				{% include './parts/title.html' with text='Button' %}
				{% include './Button.html' %}
			</section>


			<section id="Accordion" class="pt-72">
				{% include './parts/title.html' with text='Accordion' %}
				{% include './Accordion.html' %}
			</section>

			<section id="Selects" class="pt-72">
				{% include './parts/title.html' with text='Selects' %}
				<div class="flex gap-16 flex-wrap">
					{% include './Select.html' %}
				</div>
			</section>

			<section id="Header" class="pt-72">
				{% include './parts/title.html' with text='Header' %}
				{% include './Header.html' %}
			</section>

			<section id="Input" class="pt-72">
				{% include './parts/title.html' with text='Input' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Input.html' %}
				</div>
			</section>

			<section id="Card" class="pt-72">
				{% include './parts/title.html' with text='Card' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Card.html' %}
				</div>
			</section>


			<section id="Tooltip" class="pt-72">
				{% include './parts/title.html' with text='Tooltip' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Tooltip.html' %}
				</div>
			</section>


			<section id="Dropdown" class="pt-72">
				{% include './parts/title.html' with text='Dropdown' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Dropdown.html' %}
				</div>
			</section>

			<section id="Checkbox" class="pt-72">
				{% include './parts/title.html' with text='Checkbox' %}
				<div class="flex items-end gap-8 flex-wrap">
					{% include './Checkbox.html' %}
				</div>
			</section>

			<section id="Carrousel" class="pt-72">
				{% include './parts/title.html' with text='Carrousel' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Carrousel.html' %}
				</div>
			</section>

			<section id="Modal" class="pt-72">
				{% include './parts/title.html' with text='Modal' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Modal.html' %}
				</div>
			</section>

			<section id="Cookies" class="pt-72">
				{% include './parts/title.html' with text='Cookies' %}
				<div class="flex items-center gap-8 flex-wrap">
					{% include './Cookies.html' %}
				</div>
			</section>



		</div>


	</div>
</main>

{% endblock %}