{% load django_vite %}
<!-- 
js:  "static/src/js/DesignSystem/Header.js" 
css: "static/src/css/DesignSystem/Header.css" 

	NEED
		[js-header="@id"]  optional:[js-header-fixed='true']

-->

<header js-header="1" js-header-fixed="true"
	class="h-72	 flex w-full bg-white border-b h-70 border-b-neutral-10 [--height-fixed:3.5rem] items-center z-50 shadow-sm">
	<div class="container flex items-center py-12">
		<a href="/" class="block h-full w-max">
			<img class="object-contain w-auto h-32 logo  [--logo-height-fixed:1.5rem] transition-[height]"
				src="{% vite_asset_url 'img/logo.svg' %}" alt="logo">
		</a>
		<span class="flex-1"></span>
		<ul class="flex items-center gap-8">
			<li><a href="#">item</a></li>
			<li><a href="#">item</a></li>
			<li><a href="#">item</a></li>
		</ul>
	</div>
</header>

<header js-header="example" class="h-64 flex w-full bg-white border h-70 border-neutral-30  items-center z-50 ">
	<div class="container">
		<div class="flex items-center py-12">
			<a href="/" class="block w-max h-full">
				<img class="object-contain w-auto h-32 logo  [--logo-height-fixed:1.5rem] transition-[height]"
					src="{% vite_asset_url 'img/logo.svg' %}" alt="logo">
			</a>
			<span class="flex-1"></span>
			<ul class="flex items-center gap-16">
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li>
					<div class="Button" size="md">item</div>
				</li>
			</ul>
		</div>
	</div>
</header>