<!-- 
css: "static/src/css/DesignSystem/Input.css" 

-->
<label class="Input">
	<input type="text" placeholder="Input Simples">
</label>


<label class="Input">
	<ion-icon class="text-lg opacity-50 pl-12" name="person-outline"></ion-icon>
	<input type="text" placeholder="Input com icone">
</label>



<label class="Input">
	<input type="text" placeholder="Input com Botao">
	<button class="Button !rounded-l-none !-m-1" size="sm">Send</button>
</label>
<div class="shrink-0 w-full"></div>

<label class="Input">
	<textarea placeholder="textarea" rows="3"></textarea>
</label>