{% load ndt_vite_tags %}
{% load static %}

<!-- 
css: "static/src/css/DesignSystem/Modal.css" 
js: "static/src/js/DesignSystem/Modal.js" 

NEED
	[js-modal="@nomeDoModal"][data-position='@posicao']
		[js-modal-content][data-id="@idDaSection"]


OPEN
	[data-xopen="modal-default"] // attributo que contem o id mo modal 
	[data-id="@idDaSection"] // attributo que contem o id da Section

close
	[data-xclose="modal-default"] 

-->

<button class="Button " size="lg" data-xopen="modal-default" data-id="@idDaSection">
	Open Modal
</button>



<button class="Button " size="lg" data-xopen="modal-right" data-id="@idDaSection">
	Open Modal Right
</button>

<!-- MODAL CENTER -->
<dialog js-modal="modal-default" data-position='center'>
	<!-- CONTEUDO 1 -->
	<section js-modal-content data-id="@idDaSection" class="min-h-[400px] w-[500px] flex flex-col max-h-screen">
		<img class="w-full h-[200px] object-cover" src="{% static 'images/placeholder.png' %}" />


		<article class="mx-auto p-24  text-center flex-1 overflow-y-auto  text-paragraph-1 safe-text">
			{% include './parts/conteudo_curto.html' %}
		</article>


		<div class="mt-auto mx-auto p-16">
			<!-- CLOSE : Usando a instance inserida no proprio element  -->
			<button class="Button" size="md"
				onclick="document.querySelector(`[js-modal='modal-default']`).instance.closeModal()">close
			</button>

			<!-- CLOSE  : Por data attributo  	-->
			<button class="Button" size="md" data-xclose="modal-default">close
			</button>

			<!-- Proximo Conteudo -->
			<button class="Button" size="md" data-xopen="modal-default" data-id="@idDaSection2">Proximo Conteudo
			</button>
		</div>

	</section>

	<!-- CONTEUDO 2 -->
	<section js-modal-content data-id="@idDaSection2" class="min-h-[400px] w-[500px] flex flex-col  max-h-screen">
		<img class="w-full h-[200px] object-cover" src="{% static 'images/placeholder.png' %}" />

		<article class="mx-auto p-24  text-center flex-1 overflow-y-auto  text-paragraph-1 safe-text">
			<p class="text-title-3 mb-40">A existência pulsante</p>
			{% include './parts/conteudo_enorme.html' %}
		</article>

		<div class="mt-auto mx-auto p-16">
			<button class="Button" size="md" data-xopen="modal-default" data-id="@idDaSection">Conteudo Anterior
			</button>

		</div>
	</section>

</dialog>



<!-- MODAL RIGHT  -->
<dialog js-modal="modal-right" data-position='right' js-props='{"deep":false}'>
	<!-- CONTEUDO 1 -->
	<section js-modal-content data-id="@idDaSection" class="h-screen w-[500px] flex flex-col">
		<img class="w-full h-[250px] object-cover" src="{% static 'images/placeholder.png' %}" />

		<article class="flex-1 overflow-y-auto p-40 text-paragraph-1 safe-text">
			<p class="text-title-3 mb-40">Do nascimento ao último suspiro,</p>
			{% include './parts/conteudo_enorme.html' %}

		</article>

		<div class="mt-auto mx-auto p-16">
			<button class="Button" size="md" data-xclose="modal-right">close
			</button>

			<button class="Button" size="md" data-xopen="modal-right" data-id="@idDaSection2">Modal left 2
			</button>
		</div>
	</section>

	<!-- CONTEUDO 2 -->
	<section js-modal-content data-id="@idDaSection2" class="h-screen w-[620px] flex flex-col" >
		<img class="w-full h-[250px] object-cover" src="{% static 'images/placeholder.png' %}" />
		<!-- <div class="mt-auto mx-auto p-16 flex flex-col"> -->
		<article class="flex-1 overflow-y-auto p-40 text-paragraph-1 safe-text">
			<p class="text-title-3 mb-40">A vida se desenrola </p>
			{% include './parts/conteudo_enorme.html' %}

		</article>

		<div class="flex p-20 gap-8 justify-start">
			<button class="Button" size="md" data-xclose="modal-right">close
			</button>
			<button class="Button" size="md" data-xopen="modal-right" data-id="@idDaSection">Conteudo Anterior
			</button>
		</div>

		<!-- </div> -->
	</section>

</dialog>