# Não manda os bancos
# *.sqlite3

# Não manda os arquivos cache do Python
*pyc

manage.py

project_name/asgi.py
project_name/settings.py
project_name/wsgi.py

.env

media

node_modules
package-lock.json
.parcel-cache