{% load static %}

<section id="clientes">
    <div class="content">
        <span class="tag">Clientes</span>
        <h2 class="title">Parcerias de <strong>Sucesso</strong></h2>
    </div>
    <div class="logo-clientes">
        {% for key, line in lines.items %}
            <div class="swiper swiper-clientes linha-{{key}}">
                <div class="swiper-wrapper linha-{{key}}">
                    {% for item in line %}
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{{ item.brand.url }}" alt="">
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in line %}
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{{ item.brand.url }}" alt="">
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in line %}
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{{ item.brand.url }}" alt="">
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in line %}
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{{ item.brand.url }}" alt="">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>