{% load static %}
{% load humanize %}
{% load ndt_vite_tags %}

<section class="min-h-screen w-full flex px-24 justify-center md:h-auto sm:min-h-[500px]">

	<div class="flex flex-col items-center gap-56 max-w-[76rem] h-full w-full my-72 md:gap-32 sm:my-32 sm:gap-24">
		<div class="flex justify-between gap-24 items-end w-full md:flex-col md:items-start">
			<div class="flex flex-col gap-4 max-w-[592px] items-start">
				<span class="text-caps-2 inline-flex gap-8 text-primary-pure font-semibold items-center ">
					<ion-icon name="checkmark-circle-outline" class="text-2xl"></ion-icon>
					<p>badge - Services</p>
					<ion-icon name="checkmark-circle-outline" class="text-2xl"></ion-icon>
				</span>
				<h1 class="text-title-2">Section title | 6</h1>
			</div>

			<button class="Button w-fit md:w-full md:flex md:justify-center" size="md">
				<ion-icon name="person-circle-outline" class="text-2xl"></ion-icon>
				Call to Action
				<ion-icon name="person-circle-outline" class="text-2xl"></ion-icon>
			</button>
		</div>

		<div class="grid grid-cols-2 h-full w-full">

			<!-- CARD 1 -->
			<div class="flex w-full items-start border-r border-b border-neutral-100/10 pr-56 md:pr-16">
				<div class="flex flex-col gap-12 w-full sm:p-0">
					<h4 class="text-title-4">
						Title Service
					</h4>
					<p class="text-paragraph-2 text-neutral-70 four-lines mb-12">
						Lorem ipsum dolor sit amet consectetur. Lectus luctus in orci quis. Dui cursus dolor massa mauris
						adipiscing. Maecenas sagittis sed convallis quis vitae justo sit nunc. Est phasellus cras elit maecenas
						aliquet lorem. Tincidunt morbi suspendisse malesuada bibendum. Lorem ipsum dolor sit amet consectetur.
						Lectus luctus in orci quis. Dui cursus dolor massa mauris adipiscing. Maecenas sagittis sed convallis quis
						vitae justo sit nunc. Est phasellus cras elit maecenas aliquet lorem. Tincidunt morbi suspendisse malesuada
						bibendum.
					</p>
					<span class="inline-flex gap-8 text-primary-pure mb-32 items-center cursor-pointer group">
						<p class="text-paragraph-2">Saiba mais</p>
						<ion-icon name="chevron-forward-outline" class="transition group-hover:translate-x-6"></ion-icon>
					</span>
				</div>
			</div>

			<!-- CARD 2 -->
			<div class="flex w-full items-start border-b border-neutral-100/10 pl-56 md:pl-16">
				<div class="flex flex-col gap-12 w-full sm:p-0">
					<h4 class="text-title-4">
						Title Service
					</h4>
					<p class="text-paragraph-2 text-neutral-70 four-lines mb-12">
						Lorem ipsum dolor sit amet consectetur. Lectus luctus in orci quis. Dui cursus dolor massa mauris
						adipiscing. Maecenas sagittis sed convallis quis vitae justo sit nunc. Est phasellus cras elit maecenas
						aliquet lorem. Tincidunt morbi suspendisse malesuada bibendum. Lorem ipsum dolor sit amet consectetur.
						Lectus luctus in orci quis. Dui cursus dolor massa mauris adipiscing. Maecenas sagittis sed convallis quis
						vitae justo sit nunc. Est phasellus cras elit maecenas aliquet lorem. Tincidunt morbi suspendisse malesuada
						bibendum.
					</p>
					<span class="inline-flex gap-8 text-primary-pure mb-32 items-center cursor-pointer group">
						<p class="text-paragraph-2">Saiba mais</p>
						<ion-icon name="chevron-forward-outline" class="transition group-hover:translate-x-6"></ion-icon>
					</span>
				</div>
			</div>

			<!-- CARD 3 -->
			<div class="flex w-full items-start border-r border-neutral-100/10 pr-56 pt-56 md:pr-16 md:pt-16">
				<div class="flex flex-col gap-12 w-full sm:p-0">
					<h4 class="text-title-4">
						Title Service
					</h4>
					<p class="text-paragraph-2 text-neutral-70 four-lines mb-12">
						Lorem ipsum dolor sit amet consectetur. Lectus luctus in orci quis. Dui cursus dolor massa mauris
						adipiscing. Maecenas sagittis sed convallis quis vitae justo sit nunc. Est phasellus cras elit maecenas
						aliquet lorem. Tincidunt morbi suspendisse malesuada bibendum. Lorem ipsum dolor sit amet consectetur.
						Lectus luctus in orci quis. Dui cursus dolor massa mauris adipiscing. Maecenas sagittis sed convallis quis
						vitae justo sit nunc. Est phasellus cras elit maecenas aliquet lorem. Tincidunt morbi suspendisse malesuada
						bibendum.
					</p>
					<span class="inline-flex gap-8 text-primary-pure mb-32 items-center cursor-pointer group">
						<p class="text-paragraph-2">Saiba mais</p>
						<ion-icon name="chevron-forward-outline" class="transition group-hover:translate-x-6"></ion-icon>
					</span>
				</div>
			</div>

			<!-- CARD 4 -->
			<div class="flex w-full items-start pl-56 pt-56 md:pl-16 md:pt-16">
				<div class="flex flex-col gap-12 w-full sm:p-0">
					<h4 class="text-title-4">
						Title Service
					</h4>
					<p class="text-paragraph-2 text-neutral-70 four-lines mb-12">
						Lorem ipsum dolor sit amet consectetur. Lectus luctus in orci quis. Dui cursus dolor massa mauris
						adipiscing. Maecenas sagittis sed convallis quis vitae justo sit nunc. Est phasellus cras elit maecenas
						aliquet lorem. Tincidunt morbi suspendisse malesuada bibendum. Lorem ipsum dolor sit amet consectetur.
						Lectus luctus in orci quis. Dui cursus dolor massa mauris adipiscing. Maecenas sagittis sed convallis quis
						vitae justo sit nunc. Est phasellus cras elit maecenas aliquet lorem. Tincidunt morbi suspendisse malesuada
						bibendum.
					</p>
					<span class="inline-flex gap-8 text-primary-pure mb-32 items-center cursor-pointer group">
						<p class="text-paragraph-2">Saiba mais</p>
						<ion-icon name="chevron-forward-outline" class="transition group-hover:translate-x-6"></ion-icon>
					</span>
				</div>
			</div>
		</div>
	</div>

</section>