{% load static %}
{% load humanize %}
{% load django_vite %}

<section class="min-h-screen w-full flex px-24 justify-center md:h-auto sm:min-h-[500px]">

	<div class="flex flex-col items-center gap-56 max-w-[76rem] h-full w-full my-72 md:gap-32 sm:my-32 sm:gap-24">
		<div class="flex flex-col gap-4 w-full items-start">
			<span class="text-caps-2 inline-flex gap-8 text-primary-pure font-semibold items-center ">
				<ion-icon name="checkmark-circle-outline" class="text-2xl"></ion-icon>
				<p>badge - Services</p>
				<ion-icon name="checkmark-circle-outline" class="text-2xl"></ion-icon>
			</span>
			<h1 class="text-title-2">Section title | 7</h1>
		</div>

		<div class="grid grid-cols-3 h-full w-full">

			<!-- MENU -->
			<div class="flex">
				Menu
			</div>

			<!-- IMAGE -->
			<div class="flex">
				<img class="object-cover h-full w-full" src="{% vite_asset_url 'img/placeholder.png' %}" alt="">
			</div>

			<!-- CONTENT -->
			<div class="grid place-items-center">
				<div class="flex flex-col">
					<span class="text-caps-2 text-primary-pure font-semibold">Subtitle</span>
					<h2 class="text-title-3 mt-12 font-medium">Service Name</h2>
					<p class="text-paragraph-2 text-neutral-70 mt-24 four-lines">Breve descrição de no máximo 4 linhas. </p>
					<ul class="pl-20 mt-24">
						<li class="circle">Pontos a destacar</li>
						<li class="circle">Pontos a destacar</li>
						<li class="circle">Pontos a destacar</li>
					</ul>
					<a href="#" class="inline-flex gap-8 text-primary-pure mt-32 items-center cursor-pointer group">
						<p class="text-paragraph-2">Saiba mais</p>
						<ion-icon name="chevron-forward-outline" class="transition group-hover:translate-x-6"></ion-icon>
					</a>
				</div>
			</div>
		</div>
	</div>

</section>